  .form-switch .form-check-input {
    height: 20px;
    width: 48px;
  }
  .form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
  }
  .form-switch .form-check-input:checked {
    background-color: #4caf50;
    border-color: #4caf50;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .full-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .title-container {
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title {
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 800px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .question-label {
    flex-basis: 70px;
    font-weight: bold;
    margin-right: -12px;
  }
  
  .question {
    margin-bottom: 20px;
    position: relative;
  }
  
  .question-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
  }
  
  .question-content {
    display: flex;
    align-items: center;
    width: 100%;
    
  }
  
  .question-order {
    flex-basis: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 34px;
  }
  
  .question-textarea-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .question-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 100px;
    resize: vertical;
    width: 100%;
  }
  
  .title-input {
    height: 32px;
    line-height: 32px;
  }
  
  .delete-question-wrapper {
    position: absolute;
    right: 0;
    bottom: -10px;
  }
  
  .delete-question {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .add-question,
  .add-user,
  .create-lab-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-question {
    margin-bottom: 10px;
  }
  
  .create-lab-button {
    margin-bottom: auto;
    margin-top: 5px;
  }
  
  .question-order {
    flex-basis: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 34px;
    margin-right: -40px;
  }
  
  .btn-group-vertical {
    margin-top: 10px;
  }
  .create-course-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  .create-user-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

  .input-text-box {
    padding: 10px;
    width: 740px;
  }