<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}
    {% if title %}{{ title }}{% else %}Lab{% endif %}
  {% endblock %}</title>
</head>
<body>
  <ul class="navbar">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('user_list') }}">User List</a></li>
    <li><a href="{{ url_for('create_user') }}">Create User</a></li>
    <li><a href="{{ url_for('my_courses') }}">My Courses</a></li>
    <li><a href="{{ url_for('course_list') }}">Course List</a></li>
    <li><a href="{{ url_for('create_course') }}">Create Course</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>