{% extends 'base.html' %}
{% block content %}
<body>
    <input type="submit" value="Send Ping" onclick="return sendPing()">
    <br>
    <br>
    <input type="submit" value="Raise hand" onclick="return sendCommand('handup')">
    <input type="submit" value="Lower hand" onclick="return sendCommand('handdown')">
    <br>
    <br>
    <input type="submit" value="At checkpoint" onclick="return sendCommand('checkon')">
    <input type="submit" value="No checkpoint" onclick="return sendCommand('checkoff')">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>
        var socket = io();
        socket.emit('enter_room', '{{session_id}}')
        function sendCommand(command) {
            socket.emit('command_send', '{{ group_id }}', command)
        }

        function sendPing() {
            socket.emit('ping', 'pinged!');
        }
        
      </script>

</body>
</html>
{% endblock %}