{% extends 'base.html' %}

{% block content %}
    <h1>Courses for {{ user.name }}</h1>
    {% if courses_taught %}
        <h2>Courses taught:</h2>
        {% for course in courses_taught %}
            <h2><a href="{{ url_for('course', course_id=course.id) }}">{{ course.course_name }}</a></h2>
        {% endfor %}
    {% endif %}
    {% if courses_in %}
        <h2>Courses in:</h2>
        {% for course in courses_in %}
            <h2><a href="{{ url_for('course', course_id=course.id) }}">{{ course.course_name }}</a></h2>
        {% endfor %}
    {% endif %}
{% endblock %}