{% extends 'base.html' %}
{% block content %}
<body>
    <div>
        <p>Rendering from HTML</p>
        <p>{{ greeting }}</p>
    </div>
    <div id="app">

    </div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
        import App from '../static/js/App.js';
        const app = createApp(App);
        var socket = io();
        socket.emit('enter_room', '{{session_id}}')
        app.config.globalProperties.$socket = socket;
        app.config.globalProperties.$sessionId = '{{session_id}}';
        app.mount('#app');
        
    </script>

</body>
</html>
{% endblock %}