{% extends 'base.html' %}

{% block content %}
    <h1>Name: {{ user.name }}</h1>
    <img src="{{ user.profile_photo(128) }}">
    <h2>Email: {{ user.email }}</h2>
    <h2>Role: {{ user.role }}</h2>
    {% if form %}
        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post">
            {{ form.csrf_token }}
            <input type="submit" value="Delete User" onclick="return confirmDelete(event)">
        </form>
    {% endif %}

    <script>
        function confirmDelete(event) {
            if (!confirm("Are you sure you want to delete this user?")) {
                event.preventDefault();
                return false;
            }
            return true;
        }
    </script>
{% endblock %}